.header {
    display: flex;
    align-items: center;
    background-color: rgb(16, 48, 53);
}

.header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.header nav a {
    padding: 10px;
    text-decoration: none;
    color: #eee;
}

.menuser {
    display: flex;
    color: #fff;
}

.menuinfos {
    width: 500px;
}

.menuinfos span{
    padding: 10px;
}