.footer {
    width: 100%;
    height: 200px;
    background-color: rgb(255, 136, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer nav {
    width: 200px;
    height: 150px;
}

.acess {
    display: flex;
    flex-direction: column;
}