.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #00d9ff;
}

.login nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    width: 400px;
    height: 300px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.inputs > input{
    width: 200px;
    padding: 5px;
    margin: 10px;
}